* {
  box-sizing: border-box;

  --header-height: 7.5rem;
  --blue: #3359df;
  --gray-bg: #e6e9ea;
}

:root {
  font-size: 62.5%;
  background: #f5f5f5;
}

body {
  margin: 0;
  padding: var(--header-height) 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #555;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Header */

.mainHeader {
  background: white;
  height: var(--header-height);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
  border-bottom: 0.1rem;
}

.mainHeader__title {
  font-weight: normal;
  color: var(--blue);
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
}

/* Main */

.mainContent {
  padding: 4rem 0;
}

/* Question & QuestionPlaceholder */

.question {

}

.question__title,
.questionPlaceholder__title {
  font-weight: normal;
  margin: 0;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.question__numberWrapper,
.questionPlaceholder__numberWrapper {
  display: block;
  color: white;
  background: var(--blue);
  background-attachment: fixed;
  margin-right: 2rem;
  border-radius: 0.4rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  flex: 0 0 10rem;
}

.questionPlaceholder__numberWrapper {
  height: 7.4rem;
  background: var(--gray-bg);
}

.questionPlaceholder__titleText {
  display: inline-block;
  width: 25rem;
  height: 1.5rem;
  background: var(--gray-bg);
  border-radius: 1rem;
}

.question__numberLabel {
  display: block;
  padding: 0.5rem;
  font-size: 1.3rem;
  opacity: 0.7;
}

.question__number {
  padding: 0.5rem 0;
  display: block;
}

.question__answers,
.questionPlaceholder__answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3.5rem 0 0;
}

.questionPlaceholder .answer {
  height: 46rem;
}

.pulseX {
  position: relative;
  overflow: hidden;
}

.pulseX:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: linear-gradient(to right, transparent, white, transparent);
  animation: moveBg 1800ms linear infinite;
}

.questionPlaceholder__numberWrapper:after {
  animation-delay: -900ms;
}

@keyframes moveBg {
  from {
    transform: translateX(-100%);
  }
  to {
   transform: translateX(100%);
  }
}

/* Answer */
.answer {
  flex-basis: calc(50% - 1.5rem);
  margin-bottom: 3rem;
  background: white;
  padding: 2.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #efefef;
}

.answer__header {

}

.answer__title {
  font-weight: normal;
  font-size: 1.4rem;
  margin: 0;
}

.answer__chartWrapper {
  padding: 2rem 0 0;
}

/* Chart*/

.chart {
  margin: 0;
}

.chart__arc {
  stroke-width: 1;
  stroke: #fff;
}

.chart__arc path {
  transition: opacity 200ms ease-in-out;
}

.chart__arc:hover path {
  opacity: 0.75;
}

.chart__label {
  stroke: none;
  fill: #ddd;
}

.chart__labels {
  padding: 2rem 0 0;
}

.chart__label {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  text-anchor: middle;
}

.chart__label + .chart__label {
  margin-top: 0.5rem;
}

.chart__color {
  display: block;
  flex: 0 0 2rem;
  height: 2rem;
  border-radius: 0.4rem;
}

.chart__labelText {
  margin-left: 1rem;
  font-size: 1.4rem;
}

.chart__tooltip {
  display: block;
  position: fixed;
  background: #fff;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #ddd;
  font-size: 1.4rem;
}

.chart__tooltip:after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: calc(50% - 1rem);
  border: 0.1rem solid;
  border-color: transparent #ddd #ddd transparent;
  background: white;
  transform: rotate(45deg);
}

.chart__tooltip--hidden {
  display: none;
}

/* Navigation */
.navigationWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  pointer-events: none;
}

.navigationWrapper > .container {
  display: flex;
  justify-content: flex-end;
}

.navigation {
  display: flex;
  align-items: center;
  pointer-events: all;
}

.navigation__button {
  background: none;
  border: none;
  width: 6rem;
  height: var(--header-height);
  transform: opacity 200ms ease-in-out;
}

.navigation__button--inactive {
  opacity: 0.5;
}

.navigation__progress {
  margin: 0 1rem;
  color: #888;
  font-size: 2rem;
}

.navigation__icon {
  fill: none;
  stroke: #888;
  stroke-linecap: round;
  stroke-linejoin: round;
  height: 60%;
}
